<%- include('layout/header') %>

  <div class="page-wrapper">
    <div class="container-xl">

      <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">Overview</div>
            <h2 class="page-title">Dashboard</h2>
          </div>
          <!-- Page title actions -->
          <div class="col-12 col-md-auto ms-auto d-print-none">
            <div class="dropdown btn-list">
              <button type="button" class="btn dropdown-toggle text-muted " data-bs-toggle="dropdown">
                <i class="ti ti-file-plus  fs-h3 me-2"></i> New Transaction
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-muted mt-1" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button"
                  aria-controls="offcanvasStart"> <i class="ti ti-file-invoice fs-h3 me-2"></i>
                  Create Voucher
                </a>
                <a class="dropdown-item text-muted mt-1" data-bs-toggle="offcanvas" href="#offcanvasStart2"
                  role="button" aria-controls="offcanvasStart">
                  <i class="ti ti-building-bank fs-h3 me-2"></i>
                  Create Invoice
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title" id="offcanvasStartLabel">Select Vehicle</h2>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">

            <% if (vehicleFound !='' ) { %>

              <form id="billForm" name="billForm">

                <%vehicleFound.forEach(function(vehicle){%>
                  <label class="form-selectgroup-item flex-fill">
                    <input type="radio" name="supplier" value="<%=vehicle._id%>" class="form-selectgroup-input"
                      required />
                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                      <div class="me-3">
                        <span class="form-selectgroup-check"></span>
                      </div>
                      <div>
                        <%=vehicle.vehicle_no%>
                      </div>
                    </div>
                  </label>
                  <%})%>
                    <div class="mt-4 text-end">

                      <a href="" class="btn btn-primary w-50 fs-h3 createBill"> Create bill <i
                          class="ti ti-chevron-right fs-h3 ms-2"></i></a>

                    </div>
              </form>

              <% } else { %>

                <div class="empty">
                  <div class="text-center  my-5">
                    <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                    <h1 class="text-secondary">Ohh!</h1>
                    <p class="text-secondary"> No vehicles found in the database!</p>
                  </div>
                  <div class="empty-action">

                    <a href="/vehicle-list" class="btn btn-primary">
                      <i class="ti ti-plus fs-h4 fw-light me-2"></i>
                      Add new vehicle
                    </a>
                  </div>
                </div>

                <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">

        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-status-bottom bg-yellow"></div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <div class="fw-bold fs-h2">
                    <% if (vehicleFound !='' ) { %>
                      <% var sumOfRented=0 %>
                        <% vehicleFound.forEach(function(vehicle){ %>
                          <% if(vehicle.status==="Rented" ){ %>
                            <% sumOfRented++ %>
                              <% } %>
                                <% }) %>
                                  <%= sumOfRented %>
                                    <% } else { %>
                                      0
                                      <% } %>
                  </div>
                  <div class="text-muted">
                    Rented Vehicle
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-orange-lt avatar fs-h2 ">
                    <i class="ti ti-list-numbers"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-status-bottom bg-green"></div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <div class="fw-bold fs-h2">
                    <% if (vehicleFound !='' ) { %>
                      <% var sumOfRented=0 %>
                        <% vehicleFound.forEach(function(vehicle){ %>
                          <% if(vehicle.status==="Available" ){ %>
                            <% sumOfRented++ %>
                              <% } %>
                                <% }) %>
                                  <%= sumOfRented %>
                                    <% } else { %>
                                      0
                                      <% } %>
                  </div>
                  <div class="text-muted">
                    Available Vehicle
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-green-lt avatar fs-h2 ">
                    <i class="ti ti-list-numbers"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <!-- <div class="card-status-top bg-blue"></div> -->
              <div class="row align-items-center">

                <div class="col">

                  <div class="fw-bold fs-h2">
                    <span class="text-muted fs-h5 fw-light">QAR</span>
                    <% if (vehicleFound !='' ) { %>
                      <% var sumOfExpenses=0 %>
                        <% vehicleFound.forEach(function(vehicle){ %>
                          <% sumOfExpenses +=+ vehicle.expenses %>
                            <% }) %>
                              <%= (sumOfExpenses).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                                <% } else { %>
                                  0.0
                                  <% } %>
                  </div>
                  <div class="text-muted">
                    Total Expenses
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-red-lt avatar fs-h2 ">
                    <i class="ti ti-cash-banknote"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <!-- <div class="card-status-top bg-blue"></div> -->
              <div class="row align-items-center">

                <div class="col">

                  <div class="fw-bold fs-h2">
                    <span class="text-muted fs-h5 fw-light">QAR</span>
                    <% if (vehicleFound !='' ) { %>
                      <% var sumOfIncome=0 %>
                        <% vehicleFound.forEach(function(vehicle){ %>
                          <% sumOfIncome +=+ vehicle.income %>
                            <% }) %>
                              <%= (sumOfIncome).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                                <% } else { %>
                                  0.0
                                  <% } %>
                  </div>
                  <div class="text-muted">
                    Total Income
                  </div>
                </div>
                <div class="col-auto">
                  <span class="bg-green-lt avatar fs-h2 ">
                    <i class="ti ti-cash-banknote"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <h3 class="card-title">
                  <h3 class="text-success">Income</h3>
                  <h3 class="mx-2 text-muted">vs</h3>
                  <h3 class="text-warning">Expenses</h3>
                  <div class="ms-auto">
                    <h4 class="text-muted">Current Year - 2022</h4>
                  </div>
              </div>
              <div id="chart-tasks-overview"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3>Cost Centers Expenses - 2022</h3>
            </div>
            <div class="table-responsive" style="max-height: 18rem">
              <% if (foundcC !=0) { %>
                <table class="table card-table table-vcenter">
                  <thead>
                    <tr>
                      <th>Cost Center</th>
                      <th class="text-end">Total</th>
                      <!-- <th class="text-end"> <%-  new Date().toLocaleDateString("en-US", { month: 'long' }) %></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <%foundcC.forEach(function(cc){%>
                      <% if(cc.subTotal>0){%>
                        <tr>
                          <td>
                            <%=cc.cost_center%>
                          </td>
                          <td class="text-end text-muted fs-h5 text-nowrap">
                            QAR
                            <div class="text-warning d-md-inline-flex fs-h3 ms-1">
                              <%=(cc.subTotal).toFixed(2).replace( /\d(?=(\d{3})+\.)/g, '$&,' ) %>
                            </div>
                          </td>
                        </tr>
                        <%}%>
                          <%})%>
                  </tbody>
                </table>
                <% } else { %>
                  <div class="text-center  my-5">
                    <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                    <h3 class="text-secondary"> No bill created!</h3>
                  </div>
                  <% } %>
            </div>
          </div>
        </div>


        <div class="col-6">
          <div class="card">
            <div class="card-header hd-right">
              <div class="row row-cards">

                <div class="d-flex">
                  <h3>Recent Voucher</h3>
                  <div class="ms-auto text-muted">
                    <div class="input-icon">
                      <span class="input-icon-addon">
                        <i class="ti ti-search"></i>
                      </span>
                      <input type="text" id="searchPV" class="form-control" placeholder="Search here…"
                        aria-label="Search">
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-table table-responsive">

              <div class="table-responsive" style="max-height: 30rem">
                <% if (vouFound !='' ) { %>
                  <table class="table card-table table-vcenter text-nowrap datatablee">
                    <thead>
                      <tr>
                        <th>Voucher No</th>
                        <th> Particulars</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody id="payVoucher">
                      <% vouFound.forEach(function(item){ %>
                        <tr>
                          <td>
                            
                            <a href="/view-voucher/<%=item._id%>" class="btn btn-outline-secondary w-70 btn-sm" >
                              <%=item.voucher_no%>
                            </a>
                         
                          </td>
                          
                          <td class="text-capitalize">
                            <% if(item.particulars.length > 15) {%>
                            <%=item.particulars.substring(0, 15)%>
                              <a class="cursor-pointer" role="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-custom-class="custom-tooltip" data-bs-title="<%=item.particulars%>">
                                ...
                              </a>
                              <%}else{%>
                                <%=item.particulars%>
                                <%}%>
                          </td>
                          </td>
                          <td>
                            <%=(new Date(item.date).toLocaleDateString("en-US", {year: 'numeric' , day: 'numeric' ,
                              month: 'short' })) %>
                          </td>
                          <td class="text-nowrap text-muted fs-h5">
                            QAR
                            <div class="text-warning d-md-inline-flex fs-h3 ms-1">
                              <%= (item.total_rent).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )%>
                            </div>
                          </td>
                          <td>
                            <span class="status fs-h5 <%-(item.status) === 1 && 'status-green'%> <%-(item.status) === 2 && 'status-red' %> <%-(item.status) === 3 && 'status-orange' %>">
                                <% if (item.status===1){%>
                                       Paid   
                                    <%}else if (item.status===2){%>
                                        Unpaid
                                        <%}else{%>
                                          Partial Paid
                                          <%}%>
                            </span>
                          </td>
                        </tr>


                        
                        <% }) %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <div class="text-center  my-5">
                      <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                      <h1 class="text-secondary">Ohh!</h1>
                      <p class="text-secondary"> No voucher found in the database!</p>
                    </div>
                    <% } %>
              </div>
              <div class="card-footer d-flex align-items-center">
              </div>
            </div>
          </div>
        </div>


        <div class="col-6">
          <div class="card">
            <div class="card-header hd-right">
              <div class="row row-cards">

                <div class="d-flex">
                  <h3>Expenses</h3>
                  <div class="ms-auto text-muted">
                    <div class="input-icon">
                      <span class="input-icon-addon">
                        <i class="ti ti-search"></i>
                      </span>
                      <input type="text" id="searchPV" class="form-control" placeholder="Search here…"
                        aria-label="Search">
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-table table-responsive">

              <div class="table-responsive" style="max-height: 30rem">
                <% if (invItems !='' ) { %>
                  <table class="table card-table table-vcenter text-nowrap datatablee">
                    <thead>
                      <tr>
                        <th>Invoice No</th>
                        <th>Payee</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody id="payVoucher">
                      <% invItems.forEach(function(item){ %>
                        <tr>
                          <td>
                         
                            <a href="/print-voucher/<%= item._id %>" class="btn btn-outline-secondary w-70 btn-sm "
                              data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                              data-bs-title="View Invoice">
                              <%=item.inv_no%>
                            </a>

                          </td>
                          <td>
                            <% if(item.payee.length > 15) {%>
                              <%=item.payee.substring(0, 15)%>
                                <a class="cursor-pointer" role="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                  data-bs-custom-class="custom-tooltip" data-bs-title="<%=item.payee%>">
                                  ...
                                </a>
                                <%}else{%>
                                  <%=item.payee%>
                                  <%}%>
                          </td>
                          <td>
                            <%=(new Date(item.date).toLocaleDateString("en-US", {year: 'numeric' , day: 'numeric' ,
                              month: 'short' })) %>
                          </td>
                          <td class="text-nowrap text-muted fs-h5">
                            QAR
                            <div class="text-warning d-md-inline-flex fs-h3 ms-1">
                              <%= (item.amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )%>
                            </div>
                          </td>
                          <td>
                            <span
                              class="status fs-h5 <%-(item.status) === 1 && 'status-green'%> <%-(item.status) === 2 && 'status-red' %> ">
                              <% if (item.status===1){%>
                                Approved
                                <%}else{%>
                                  Pending
                                  <%}%>
                            </span>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <div class="text-center  my-5">
                      <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                      <h1 class="text-secondary">Ohh!</h1>
                      <p class="text-secondary"> No invoice found in the database!</p>
                    </div>
                    <% } %>
              </div>
              <div class="card-footer d-flex align-items-center">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- View Transaction -->
  <% if (message && message.type==='viewVoucher' ) { %>
    <div class="modal modal-blur fade" id="modal-viewVoucher" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
                <div class="card-header">
                  <dt class="col-5">Voucher No:</dt>
                  <dd class="col-7 mt-2"><%= message.voucherNo %></dd>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <% if (message.for!='Others'){%>
                    <dt class="col-5 mt-2">Vehicle No:</dt>
                    <dd class="col-7 mt-2"><%= message.vehicleNo %></dd>

                    <dt class="col-5">Vehicle Status:</dt>
                    <dd class="col-7 fw-bold <%-message.vehicleStatus === 1 ? 'text-green' : 'text-orange'%>">
                     
                      <% if (message.vehicleStatus===1){%>
                        Returned 
                         <%}else{%>
                           Rented
                           <%}%>
                    </dd>
                    <%}%>
                    <dt class="col-5 mt-2">Date:</dt>
                    <dd class="col-7 mt-2"><%= message.date %></dd>
                    <dt class="col-5">For the Month:</dt>
                    <dd class="col-7"><%= message.month %></dd>
                    <dt class="col-5">Particulars:</dt>
                    <dd class="col-7"><%= message.particulars %></dd>
                    <dt class="col-5 mt-2">Status:</dt>
                    <dd class="col-7 mt-2 fw-bold <%-(message.status) === 1 && 'text-green'%> <%-(message.status) === 2 && 'text-red' %> <%-(message.status) === 3 && 'text-orange' %>">
                      <% if (message.status===1){%>
                        Paid   
                     <%}else if (message.status===2){%>
                         Unpaid
                         <%}else{%>
                           Partial Paid
                           <%}%>
                    </dd>
                    <dt class="col-5 mt-2">Total Rent:</dt>
                    <dd class="col-7 text-danger mt-2"><div class="currency-formated">QAR</div><%= (message.rent).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %></dd>
                    <dt class="col-5">Total Bills:</dt>
                    <dd class="col-7 text-danger"><div class="currency-formated">QAR</div><%= (message.bills).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %></dd>
                    <dt class="col-5 mt-2">Cash Received:</dt>
                    <dd class="col-7 text-danger mt-2 fw-bold"><div class="currency-formated fw-normal">QAR</div><%= (message.received).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %></dd>
                   
                   </dl>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
            <a href="/update-voucher/<%= message.id %>" class="btn btn-success">Update Voucher</a>
          </div>
        </div>
      </div>
    </div>
    <% } %>

  <script>
    $(document).ready(function () {

      $("#billForm").on("click", function () {
        var radVal = $("input[name='form-payment']:checked").val();
        $("a.createBill").attr("href", "create-bill/" + radVal)

      });

      $("#payForm").on("click", function () {
        var radVal = $("input[name='form-payment']:checked").val();
        $("a.payBill").attr("href", "pay-bill/" + radVal)

      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#searchPV").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#payVoucher tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });


           '<% if (message &&  message.type ==="viewVoucher") { %>'
           $("#modal-viewVoucher").modal('toggle');
          
            ' <% } %>'
    });
  </script>

  <script>

    let dataExpenses = [];
    let [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec] = Array(12).fill(0);

    ' <% if (invItems != "") { %>'

    '<%  invItems.forEach(function(item){ %>'

    var dMonth = new Date('<%=item.date%>').getMonth() + 1;

    if (dMonth === 1) {

      jan += + '<%=item.amount%>'

    } else if (dMonth === 2) {

      feb += + '<%=item.amount%>'

    } else if (dMonth === 3) {

      mar += + '<%=item.amount%>'

    } else if (dMonth === 4) {

      apr += + '<%=item.amount%>'

    } else if (dMonth === 5) {

      may += + '<%=item.amount%>'

    } else if (dMonth === 6) {

      jun += + '<%=item.amount%>'

    } else if (dMonth === 7) {

      jul += + '<%=item.amount%>'

    } else if (dMonth === 8) {

      aug += + '<%=item.amount%>'

    } else if (dMonth === 9) {

      sep += + '<%=item.amount%>'

    } else if (dMonth === 10) {

      oct += + '<%=item.amount%>'

    } else if (dMonth === 11) {

      nov += + '<%=item.amount%>'

    } else if (dMonth === 12) {

      dec += + '<%=item.amount%>'

    }

    ' <%  }) %>'
    ' <%  } %>'





    ' <% if (vouFound != "") { %>'

    let dataIncome = [];
    let [jan_, feb_, mar_, apr_, may_, jun_, jul_, aug_, sep_, oct_, nov_, dec_] = Array(12).fill(0);


    '<%  vouFound.forEach(function(item){ %>'

    var dMonth_ = new Date('<%=item.date%>').getMonth() + 1;

    if (dMonth_ === 1) {

      jan_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 2) {

      feb_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 3) {

      mar_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 4) {

      apr_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 5) {

      may_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 6) {

      jun_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 7) {

      jul_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 8) {

      aug_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 9) {

      sep_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 10) {

      oct_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 11) {

      nov_ += + '<%=item.total_rent%>'

    } else if (dMonth_ === 12) {

      dec_ += + '<%=item.total_rent%>'

    }

    ' <%  }) %>'
    ' <%  } %>'

    dataExpenses = [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec];

    dataIncome = [jan_, feb_, mar_, apr_, may_, jun_, jul_, aug_, sep_, oct_, nov_, dec_];


    document.addEventListener("DOMContentLoaded", function () {
      window.ApexCharts && (new ApexCharts(document.getElementById('chart-tasks-overview'), {
        chart: {
          type: "line",
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.3
          },
          fontFamily: 'inherit',
          height: 300,
          parentHeightOffset: 0,
          toolbar: {
            show: false,
          },
          animations: {
            enabled: true
          },

        },
        dataLabels: {
          enabled: true,
        },
        fill: {
          opacity: 1,
        },
        stroke: {
          width: 2,
          lineCap: "round",
          curve: "smooth",
        },
        series: [{
          name: "Total Income",
          data: dataIncome
        },
        {
          name: "Total Expenses",
          data: dataExpenses
        }],
        grid: {
          padding: {
            top: -20,
            right: 0,
            left: -4,
            bottom: -4
          },
          strokeDashArray: 4,
        },
        xaxis: {


          labels: {
            padding: 0,
          },
          tooltip: {
            enabled: true
          },
          axisBorder: {
            show: true,
          },


          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          title: {
            text: 'Month'
          },

        },

        yaxis: {
          title: {
            text: 'AMOUNT'
          },
          labels: {
            formatter: function (number) {
              var SI_SYMBOL = ["", "K", "M", "G", "T", "P", "E"];
              // what tier? (determines SI symbol)
              var tier = Math.log10(Math.abs(number)) / 3 | 0;

              // if zero, we don't need a suffix
              if (tier == 0) return number;

              // get suffix and determine scale
              var suffix = SI_SYMBOL[tier];
              var scale = Math.pow(10, tier * 3);

              // scale the number
              var scaled = number / scale;

              // format number and add suffix
              return scaled.toFixed(1) + suffix;
            }
          },
        },
        colors: ["#2fb344", "#f76707"],
        legend: {
          show: false,
        },
      })).render();
    });
       // @formatter:on
  </script>

  <%- include('layout/footer') %>