<%- include('layout/header') %>

<div class="page-wrapper">
         
            <!-- Page title -->
            <div class="page-header d-print-none">
              <div class="container-xl">
                <div class="row g-2 align-items-center">
                  <div class="col">
                    <h2 class="page-title">
                      System Setup
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          
    <div class="page-body">
  
      <div class="container-xl">
        <div class="card">
        <div class="row g-0">
          <div class="col-3 d-none d-md-block border-end">
            <div class="card-body">
              <h4 class="subheader">BUSINESS SETTINGS</h4>
              <div class="list-group list-group-transparent">
                <a href="/system-settings" class="list-group-item list-group-item-action d-flex align-items-center active">System Setting</a>
               </div>
            </div>
          </div>
          <div class="col d-flex flex-column">
            <form action="/update-system-settings" method="post">
           
              <div class="card-body">
              <h3 class="mb-4">Approval & Expiration Settings</h3>
                <div class="row">
                <div class="col-6">
                    <div class="form-group mb-4">
                      <label class="form-label">Expenses Approval</label>
                      <small class="form-hint mb-2"> <strong class="text-orange">Maximum Amount </strong> of expenses to send for approval </small>
                   
                        <input type="text" name="expensesAmout" value="<%= foundSettings[2].value %>" class="form-control otherSet <%- (settingsAlert) && (settingsAlert.alertSetOther === 1) && 'is-valid mb-2' %> " required/> 
                        <%if (settingsAlert) {%>
                          <%if (settingsAlert.alertSetOther === 1) {%>
                          <small class="form-hint text-success notifX">Expenses Approval succesfully saved.</small>
                          <%}%>
                          <%}%>
                    </div>
                  </div>    
                  <div class="col-6">
                      <div class="form-group mb-4">
                        <label class="form-label">Document Expiration Notification</label>
                        <small class="form-hint mb-2"> <strong class="text-orange">Number of Days </strong> to notify before document expiration</small>
                     
                          <input type="number" name="docsNotif" value="<%= foundSettings[3].value %>" class="form-control otherSet <%- (settingsAlert) && (settingsAlert.alertSetOther === 1) && 'is-valid mb-2' %>" required/>
                            <%if (settingsAlert) {%>
                            <%if (settingsAlert.alertSetOther === 1) {%>
                            <small class="form-hint text-success notifX">Document Expiration Notification succesfully saved.</small>
                            <%}%>
                            <%}%>
                        
                      </div>
                   </div>
              </div>
            </div>


            <div class="card-body">
              <h3 class="mb-4">Transactions Number Settings</h3>
                <div class="row">
                <div class="col-6">
                    <div class="form-group mb-4">
                      <label class="form-label">Voucher Prefix</label>
                      <small class="form-hint mb-2">Eg: #VOU/2022</small>
                      <div>
                        <input type="text" name="vouPrefix" value="<%= foundSettings[0].prefix %>" class="form-control" required readonly/> 
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="form-label">Voucher Number</label>
                      <small class="form-hint mb-2">This will be the next Voucher number</small>
                      <div>
                        <input type="number" name="vouStartingNo" value="<%= foundSettings[0].starting_no %>" class="form-control vouNo <%- (settingsAlert) && (settingsAlert.alertSetVou === 1) && 'is-valid mb-2' %> <%- (settingsAlert) && (settingsAlert.alertSetVou === 3) && 'is-invalid mb-2' %> " required/>
                        <input type="number" name="actualVouStartingNo" value="<%= foundSettings[0].starting_no %>" class="form-control" hidden/>
                        <%if (settingsAlert) {%>
                            <%if (settingsAlert && settingsAlert.alertSetVou === 1) {%>
                            <small class="form-hint text-success notifX">Voucher Number Prefix and starting number succesfully saved.</small>
                            <%}else if(settingsAlert.alertSetVou === 2){%>
                            <small class="form-hint text-danger notifX">Voucher Number already exist. <br> Please enter different prefix and starting number.</small>
                            <%}else if(settingsAlert.alertSetVou === 3){%>
                            <small class="form-hint text-danger notifX">Voucher Number should greater than current next voucher no.</small>
                            <%}%>
                            <%}%>

                         
                        </div>
                    </div>
                  </div>    
                  <div class="col-6">
                      <div class="form-group mb-4">
                        <label class="form-label">Invoice Prefix</label>
                        <small class="form-hint mb-2">Eg: #INV/2022</small>
                        <div>
                          <input type="text" name="invPrefix" value="<%= foundSettings[1].prefix %>" class="form-control" required readonly/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Invoice Starting Number </label>
                        <small class="form-hint mb-2">This will be the next Invoice number</small>
                        <div>
                          <input type="number" name="invStartingNo" value="<%= foundSettings[1].starting_no %>" class="form-control invID <%- (settingsAlert) && (settingsAlert.alertSetInv === 1) && 'is-valid mb-2' %> <%- (settingsAlert) && (settingsAlert.alertSetInv === 3) && 'is-invalid mb-2' %>" required/>
                          <input type="number" name="actualInvStartingNo" value="<%= foundSettings[1].starting_no %>" class="form-control" hidden/>
                          <input type="text" name="vouID" value="<%= foundSettings[0]._id %>" class="form-control" hidden>
                          <%if (settingsAlert) {%>
                         
                            <%if (settingsAlert.alertSetInv === 1) {%>
                            <small class="form-hint text-success notifX">Invoice Number Prefix and starting number succesfully saved.</small>
                            <%}else if(settingsAlert.alertSetInv === 2){%>
                            <small class="form-hint text-danger notifX">Invoice Number already exist. <br> Please enter different prefix and starting number.</small>
                            <%}else if(settingsAlert.alertSetInv === 3){%>
                            <small class="form-hint text-danger notifX">Invoice Number should greater than current next invoice no.</small>
                            <%}%>
                            <%}%>

                         
                        </div>
                      </div>
                   </div>
              </div>
            </div>
            <div class="card-footer bg-transparent mt-auto">
              <div class="btn-list justify-content-end">
                <a href="/" class="btn">
                  Cancel
                </a>
                <button type="submit" name="invID" value="<%= foundSettings[1]._id %>" class="btn btn-secondary">Save Changes</button>
              </div>
            </div>
          </form>
          </div>
          
      </div>
    </div>
    </div>


<script>

  ' <% if (settingsAlert) {%>'

         setTimeout(function () {
              $('.notifX').remove();

              $('.vouNo').removeClass('is-valid mb-2');
              $('.vouNo').removeClass('is-invalid mb-2');
              $('.invID').removeClass('is-invalid mb-2');
              $('.invID').removeClass('is-valid mb-2');
              $('.otherSet').removeClass('is-valid mb-2');
         
            }, 5000);
'  <%} %>'
</script>

<%- include('layout/modals') %>

<%- include('layout/footer') %>