<%- include('layout/header') %>

  <div class="page-wrapper">
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
          <div class="col">

            <h2 class="page-title">
              Update Invoice
            </h2>
          </div>
        </div>
      </div>
    </div>

    <form action="/save/update-invoice/<%= foundInv._id %>" method="post">

      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row mt-lg-2">
                    <div class="col-lg-6">

                      <div class="col">
                        <div class="row">
                          <div class="col-sm-12 col-md-6 col-lg-6">
                            <% if (foundInv.expenses_for!='Others'){%>
                              <div class="mb-3">
                                <div class="form-label">Vehicle Number</div>

                                <input type="text" name="vehicleID" class="form-control" value="<%=foundInv.vehicle_no%>" readonly>
                              </div>
                              <% } %>

                            <div class="mb-3">
                              <div class="form-label">Invoice Number</div>
                              <input type="text" name="invNo" class="form-control" value="<%=foundInv.inv_no%>" readonly>
                            </div>
                            <div class="mb-3">
                              <div class="form-label">Invoice Date</div>
                              <div class="input-icon mb-2">
                                <input name="invDate" value="<%=foundInv.inv_date%>" class="form-control " placeholder="Select date"
                                  id="datepicker-invDate" required />
                                <span class="input-icon-addon">
                                  <i class="ti ti-calendar"></i>
                                </span>
                              </div>
                            </div>
                            <div class="mb-3">
                              <div class="form-label">Date</div>
                              <div class="input-icon mb-2">
                                <input name="date" value="<%=foundInv.date%>" class="form-control " placeholder="Select date" id="datepicker-date"
                                  required />
                                <span class="input-icon-addon">
                                  <i class="ti ti-calendar"></i>
                                </span>
                              </div>
                            </div>

                          </div>

                          <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                              <div class="form-label">Payee</div>
                              <input type="text" value="<%=foundInv.payee%>" name="payee" class="form-control" required>
                            </div>
                            <div class="mb-3">
                              <div class="form-label">Expense Type</div>
                              <select class="form-select" name="expenseType" required>
                                <option value="Battery" <%-foundInv.expenses_type==='Battery' && 'selected' %>>Battery</option>
                                <option value="Petrol" <%-foundInv.expenses_type==='Petrol' && 'selected' %>>Petrol</option>
                                <option value="Tyre" <%-foundInv.expenses_type==='Tyre' && 'selected' %>>Tyre</option>
                                <option value="Wheel Alignment" <%-foundInv.expenses_type==='Wheel Alignment' && 'selected' %>>Wheel Alignment</option>
                                <option value="Office Expenses" <%-foundInv.expenses_type==='Office Expenses' && 'selected' %>>Office Expenses</option>
                                <option value="Car Wash" <%-foundInv.expenses_type==='Car Wash' && 'selected' %>>Car Wash</option>
                                <option value="Spare Parts & Service" <%-foundInv.expenses_type==='Spare Parts & Service' && 'selected' %>>Spare Parts & Service</option>
                                <option value="Oil Change" <%-foundInv.expenses_type==='Oil Change' && 'selected' %>>Oil Change</option>
                                <option value="Ministry Payments" <%-foundInv.expenses_type==='Ministry Payments' && 'selected' %>>Ministry Payments</option>
                                <option value="Traffic Penalty" <%-foundInv.expenses_type==='Traffic Penalty' && 'selected' %>>Traffic Penalty</option>
                                <option value="Salary" <%-foundInv.expenses_type==='Salary' && 'selected' %>>Salary</option>
                                <option value="Insurance" <%-foundInv.expenses_type==='Insurance' && 'selected' %>>Insurance</option>
                                <option value="Istimara" <%-foundInv.expenses_type==='Istimara' && 'selected' %>>Istimara</option>
                                <option value="Vehicle Inspection" <%-foundInv.expenses_type==='Vehicle Inspection' && 'selected' %>>Vehicle Inspection</option>
                                <option value="Bank Deposit" <%-foundInv.expenses_type==='Bank Deposit' && 'selected' %>>Bank Deposit</option>
                              </select>
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Description</label>
                              <textarea class="form-control" name="description" rows="5" required><%=foundInv.description%></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <div id="paymentType">
                            <div class="mb-3">
                              <div class="form-label">Payment Type</div>
                              <select class="form-select" name="paymentType" onchange="changePayment(this)" required>
                                <option value="Cash" <%-foundInv.payment_type==='Cash' && 'selected' %>>Cash</option>
                                <option value="Card" <%-foundInv.payment_type==='Card' && 'selected' %>>Card</option>
                              </select>
                            </div>
                            <% if (foundInv.payment_type ==='Card'){%>
                            <div id="cardDetails" class="mb-3">
                              <label class="form-label">Card Details</label>
                              <textarea class="form-control" name="cardDetails" rows="1" required><%=foundInv.card_details%></textarea>
                             </div>
                             <%}%>
                          </div>

                          <div class="mb-3">
                            <div class="form-label">Month</div>
                            <select class="form-select" name="forMonth" required>
                                <option value="January" <%-foundInv.month ==='January' && 'selected' %>>January</option>
                                <option value="February" <%-foundInv.month ==='February' && 'selected' %>>February</option>
                                <option value="March" <%-foundInv.month ==='March' && 'selected' %>>March</option>
                                <option value="April" <%-foundInv.month ==='April' && 'selected' %>>April</option>
                                <option value="May" <%-foundInv.month ==='May' && 'selected' %>>May</option>
                                <option value="June" <%-foundInv.month ==='June' && 'selected' %>>June</option>
                                <option value="July" <%-foundInv.month ==='July' && 'selected' %>>July</option>
                                <option value="August" <%-foundInv.month ==='August' && 'selected' %>>August</option>
                                <option value="September" <%-foundInv.month ==='September' && 'selected' %>>September</option>
                                <option value="October" <%-foundInv.month ==='October' && 'selected' %>>October</option>
                                <option value="November" <%-foundInv.month ==='November' && 'selected' %>>November</option>
                                <option value="December" <%-foundInv.month ==='December' && 'selected' %>>December</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="mb-3">
                            <label class="form-label">Remarks</label>
                            <textarea class="form-control"  name="remarks" rows="5" required><%=foundInv.remarks%></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-auto ms-auto">
                          <div class="mb-3">
                            <label class="form-label">Amount</label>
                            <div class="input-group mb-2">
                              <span class="input-group-text fs-h5">
                                QAR
                              </span>
                              <input type="text" class="form-control text-danger cashReceived" name="amount"
                              value="<%=foundInv.amount%>"  required>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row align-items-center">
                    <div class="col"></div>
                    <div class="col-auto">
                      <a href="/" class="btn">
                        Cancel
                      </a>
                      <input type="submit" name="submit" value="Save Invoice"
                        class="btn btn-secondary ms-3 d-none d-sm-inline-block" />
                      <input type="submit" name="submit" value="Save" class="btn btn-secondary ms-3 d-sm-none" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

    <script src="../dist/libs/nouislider/dist/nouislider.min.js" defer></script>
    <script src="../dist/libs/litepicker/dist/litepicker.js" defer></script>
    <script src="../dist/libs/tom-select/dist/js/tom-select.base.min.js" defer></script>
    <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        window.Litepicker && (new Litepicker({
          element: document.getElementById('datepicker-invDate'),
          buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
          },
        }));
      });
      // @formatter:on
      // $('#datepicker-invDate').val(new Date().toISOString().split('T')[0])
    </script>

    <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        window.Litepicker && (new Litepicker({
          element: document.getElementById('datepicker-date'),
          buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
          },
        }));
      });
      // @formatter:on
      // $('#datepicker-date').val(new Date().toISOString().split('T')[0])
    </script>

    <script>
      $(document).ready(function () {
        $(".cancelBill").on("click", function () {
          $(".cancelBill").prepend('<span class="spinner-border spinner-border-sm me-2" role="status"></span> ');
        })
      });

      function changePayment(selectObject) {
        let value = selectObject.value;
        let cardDetails = '';


        if (value === "Card") {
          cardDetails += '<div id="cardDetails" class="mb-3">'
          cardDetails += ' <label class="form-label">Card Details</label>'
          cardDetails += ' <textarea class="form-control" name="cardDetails" rows="1" required><%=foundInv.card_details%></textarea>'
          cardDetails += ' </div>'
          $("#paymentType").append(cardDetails);

        } else {
          $('#cardDetails').remove();
        }
      }
       
    </script>


    <%- include('layout/footer') %>