<%- include('layout/header') %>

  <div class="page-wrapper">
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
              Accounts
            </div>
            <h2 class="page-title">
              Vehicles
            </h2>
          </div>
          <!-- Page title actions -->
          <div class="col-12 col-md-auto ms-auto d-print-none">
            <div class="btn-list">

              <a href="#" class="btn btn-secondary d-none d-sm-inline-block" data-bs-toggle="modal"
                data-bs-target="#modal-vehicleAccount">
                <i class="ti ti-plus icon"> </i>
                Add Vehicle
              </a>
              <a href="#" class="btn btn-secondary d-sm-none btn-icon" data-bs-toggle="modal"
                data-bs-target="#modal-vehicleAccount" aria-label="Create new bank account">
                <i class="ti ti-plus fs-h4 fw-light"> </i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-deck row-cards">


          <div class="col-12">
            <div class="card">
              <div class="card-header hd-right">
                <div class="row row-cards">
                  <div class="d-flex">
                    <h3>Manage Vehicle</h3>
                    <div class="ms-auto text-muted">
                      <div class="input-icon">
                        <span class="input-icon-addon">
                          <i class="ti ti-search"></i>
                        </span>
                        <input type="text" id="searchSA" class="form-control" placeholder="Search…"
                          aria-label="Search in website">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class=" card-table table-responsive">
                <div class="table-responsive" style="max-height: 45rem">
                  <% if (vehicleList !='' ) { %>
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1">Action</th>
                          <th>Model / Status / No.</th>
                          <th>Vehicle Details</th>
                          <th>Income</th>
                          <th>Expense</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="suppAcc">
                        <% vehicleList.forEach(function(vehicle){ %>
                          <tr>
                            <td>
                              <div class="col-auto">
                                <div class="dropdown">
                                  <a class="btn btn-action" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="ti ti-dots-vertical fs-h3"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" data-bs-toggle="modal"
                                      data-bs-target="#modal-vehicleUp<%=vehicle._id%>">Edit / View</a>
                                    <a class="dropdown-item text-danger" data-bs-toggle="modal"
                                      data-bs-target="#modal-deleteVehicle<%=vehicle._id%>">Delete</a>

                                  </div>

                                </div>
                              </div>

                            </td>
                            <td>
                              <% if (vehicle.status===2){%>
                                <a href="/rent-info/<%=vehicle.voucher_id%>" <%}else{%>
                                  <a href="/vehicle-list" <%}%>
                                    class="fs-h3 fw-bold <%- (vehicle.status)===1 ? 'text-success' : 'text-warning' %>">
                                      <%=vehicle.make_model%>
                                        <span
                                          class="fs-h6 fw-normal mb-1  <%- (vehicle.status) === 1 ?  'badge bg-green-lt' : 'badge bg-orange-lt'  %>">


                                          <% if (vehicle.status===1){%>
                                            Available
                                            <%}else{%>
                                              Rented
                                              <%}%>
                                        </span>
                                  </a>
                                  <div class="text-muted mt-2">
                                    <%=vehicle.vehicle_no%>
                                  </div>
                            </td>
                            <td>
                              <div class="details-header"> Istimara Expiry Date <%- (new Date() >= vehicle.istimara_exdate) ? '<span class="badge bg-red-lt">Expired</span>' :'' %> </div>
                              <div class="<%- (new Date() >= vehicle.istimara_exdate) && 'text-red' %>">
                                <%=((vehicle.istimara_exdate).toLocaleDateString("en-US", {year: 'numeric' , day: 'numeric' , month: 'long' })) %>
                              </div>
                              <div class="details-header"> Insurance Expiry Date <%- (new Date() >= vehicle.insurance_exdate) ? '<span class="badge bg-red-lt">Expired</span>' :'' %> </div>
                              <div class="<%- (new Date() >= vehicle.insurance_exdate) && 'text-red' %>">
                                <%=((vehicle.insurance_exdate).toLocaleDateString("en-US", {year: 'numeric' , day: 'numeric' , month: 'long' })) %>
                              </div>
                            </td>
                            <td>
                              <div class="currency-formated">QAR</div>
                              <div class="number-formated-tbl text-success">
                                <%= (vehicle.income).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )%>
                              </div>
                            </td>
                            <td>
                              <div class="currency-formated">QAR</div>
                              <div class="number-formated-tbl text-danger">
                                <%= (vehicle.expenses).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )%>
                              </div>
                            </td>
                            <td>
                              <div class="col-12 col-md-auto ms-auto d-print-none float-end">
                                <div class="dropdown btn-list">
                                  <button type="button" class="btn dropdown-toggle text-muted btn-pill"
                                    data-bs-toggle="dropdown">
                                    New Transaction </button>
                                  <div class="dropdown-menu">
                                    <%if (vehicle.status===1 ) {%>
                                      <a href="/create-voucher/<%= vehicle._id %>"
                                        class="dropdown-item text-muted mt-1"> Rent </a>
                                      <% }else if (vehicle.status===2 ) {%>
                                        <a href="/update-voucher/<%=vehicle.voucher_id%>"
                                          class="dropdown-item text-muted mt-1">
                                          Return </a>
                                        <%}%>

                                          <div class="dropdown-divider"></div>
                                          <a href="/create-invoice/<%= vehicle._id %>"
                                            class="dropdown-item text-muted mt-1"> Create
                                            Expenses </a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>

                          <!-- Delete Vehicle -->
                          <div class="modal modal-blur fade" id="modal-deleteVehicle<%=vehicle._id%>" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                                <div class="modal-status bg-danger"></div>
                                <div class="modal-body text-center py-4">
                                  <i class="ti ti-alert-triangle fs--h1 text-danger"></i>
                                  <h3>
                                    <%=vehicle.vehicle_no%>
                                  </h3>
                                  <div class="text-muted">Do you really want to delete this vehicle?</div>
                                </div>
                                <div class="modal-footer">
                                  <div class="w-100">
                                    <div class="row">
                                      <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                          Cancel
                                        </a></div>
                                      <div class="col">
                                        <a href="/delete/vehicle/<%=vehicle._id%>" class="btn btn-danger w-100">Yes</a>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Update Vehicle -->
                          <div class="modal modal-blur fade" id="modal-vehicleUp<%=vehicle._id%>" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <form action="/update/vehicle/<%=vehicle._id%>" method="post"  enctype="multipart/form-data">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Update vehicle</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="mb-3">
                                          <label class="form-label">Vehicle Number</label>
                                          <div class="input-group input-group-flat">
                                            <input type="text" name="vehicleNo" class="form-control"
                                              value="<%=vehicle.vehicle_no%>" required />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label">Registered Owner</label>
                                          <input type="text" name="regOwner" class="form-control"
                                            value="<%=vehicle.registered_owner%>" required />
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label">Make & Model</label>
                                          <input type="text" name="makeModel" class="form-control"
                                            value="<%=vehicle.make_model%>" required />
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label">Registered Date</label>
                                          <input type="date" name="regDate" class="form-control"
                                            value="<%=vehicle.registered_date%>" required />
                                        </div>
                                        <div class="mb-3">
                                         
                                          <label class="form-label">Istimara Expiration Date <%- (new Date() >= vehicle.istimara_exdate) ? '<span class="badge bg-red-lt fs-h6">Expired</span>' : '' %> </label> 
                                          <div class="input-icon mb-2">
                                            <input type="date" name="exDate" class="form-control  <%- (new Date() >= vehicle.istimara_exdate) && 'is-invalid' %>"
                                              placeholder="Select istimara expiration date"
                                              value="<%= (vehicle.istimara_exdate).toISOString().slice(0, 10) %>" required />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                         
                                          <label class="form-label">Insurance Expiration Date <%- (new Date() >= vehicle.insurance_exdate) ? '<span class="badge bg-red-lt fs-h6">Expired</span>' : '' %> </label> 
                                          <div class="input-icon mb-2">
                                            <input type="date" name="exDateIn" class="form-control  <%- (new Date() >= vehicle.insurance_exdate) && 'is-invalid' %>"
                                              placeholder="Select istimara expiration date"
                                              value="<%= (vehicle.insurance_exdate).toISOString().slice(0, 10) %>" required />
                                          </div>
                                        </div>
                                        <!-- <div class="mb-3">
                                          <label class="form-label">Status</label>
                                        <select class="form-select" name="status" id="floatingSelect<%=vehicle._id%>"
                                          aria-label="Floating label select example">
                                          <option value="1" <%=vehicle.status===1 ? 'selected' : '' %>
                                            >Available</option>
                                          <option value="2" <%=vehicle.status===2 ? 'selected' : '' %>
                                            >Rented</option>
                                        </select>
                                        </div> -->
                                      </div>
                                      <div class="col-lg-6">
                                        <div class="modal-body">
                                        <div class="mb-3">
                                          <label class="form-label">Download Attachments </label>
                                          <div class="row">
                                            <div class="col">
                                              <a href="/download/<%=vehicle.istimara_file%>" class="btn btn-vk w-100 mb-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Download"> 
                                                <i class="ti ti-download icon"></i> 
                                                Istimara
                                              </a>
                                            </div>
                                            <div class="col">
                                              <a href="/download/<%=vehicle.insurance_file%>" class="btn btn-vk w-100 mb-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Download"> 
                                                <i class="ti ti-download icon"></i> 
                                                Insurance
                                              </a>
                                              
                                            </div>
                                          </div>
                                      
                                       </div>
                                       
                                       
                                       <div class="mb-3">
                                        <label class="form-label">Replace Istimara</label>
                                        <input type="file" name="istimaraFile" class="form-control"  accept="image/*,.pdf" />
                                      </div>
                                      <div class="mb-3">
                                        <label class="form-label">Replace Insurance</label>
                                        <input type="file" name="insuranceFile" class="form-control"  accept="image/*,.pdf" />
                                      </div>
                                    </div>
                                      </div>
                                      
                                    </div>
                                  </div>

                                  <div class="modal-footer">
                                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                      Cancel
                                    </a>
                                    <button type="submit" class="btn btn-secondary ms-auto">Update </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>

                          <% }) %>
                      </tbody>
                    </table>
                    <% } else { %>
                      <div class="text-center  my-5">
                        <div class="fs--h1 text-muted"><i class="ti ti-mood-sad"></i></div>
                        <h1 class="text-secondary">Ohh!</h1>
                        <p class="text-secondary"> No vehicles found in the database!</p>
                      </div>
                      <% } %>
                </div>
                <div class="card-footer d-flex align-items-center">
                  <!-- Create Vehicle  -->
                  <div class="modal modal-blur fade" id="modal-vehicleAccount" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg role=" document">
                      <div class="modal-content">
                        <form action="/add/vehicle" method="post" enctype="multipart/form-data">
                          <div class="modal-header">
                            <h5 class="modal-title">New Vehicle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="mb-3">
                                  <label class="form-label">Vehicle Number</label>
                                  <div class="input-group input-group-flat">
                                    <input type="text" name="vehicleNo" class="form-control" required />
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Registered Owner</label>
                                  <input type="text" name="regOwner" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Make & Model</label>
                                  <input type="text" name="makeModel" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Registered Date</label>
                                  <div class="input-icon mb-2">
                                    <input name="regDate" class="form-control " placeholder="Select registered date"
                                      id="datepicker-registered" required />
                                    <span class="input-icon-addon">
                                      <i class="ti ti-calendar"></i>
                                    </span>
                                  </div>
                                </div>

                                <!-- <div class="mb-4">
                                  <label class="form-label">Status</label>
                                  <select class="form-select" name="status" id="floatingSelect"
                                    aria-label="Floating label select example" required>
                                    <option>--</option>
                                    <option value="1">Available</option>
                                    <option value="2">Rented</option>
                                  </select>
                                </div> -->

                              </div>

                              <div class="col-lg-6">
                                <div class="mb-3">
                                  <label class="form-label">Istimara Expiration Date</label>
                                  <div class="input-icon mb-2">
                                    <input name="exDate" class="form-control "
                                      placeholder="Select istimara expiration date" id="datepicker-istimara" required />
                                    <span class="input-icon-addon">
                                      <i class="ti ti-calendar"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Insurance Expiration Date</label>
                                  <div class="input-icon mb-2">
                                    <input name="exDateIn" class="form-control "
                                      placeholder="Select istimara expiration date" id="datepicker-insurance" required />
                                    <span class="input-icon-addon">
                                      <i class="ti ti-calendar"></i>
                                    </span>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Upload Istimara</label>
                                  <input type="file" name="istimaraFile" class="form-control"  accept="image/*,.pdf" required/>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Upload Insurance</label>
                                  <input type="file" name="insuranceFile" class="form-control"  accept="image/*,.pdf" required/>
                                </div>
                              </div>

                            </div>
                          </div>


                          <div class="modal-footer">
                            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                              Cancel
                            </a>
                            <button type="submit" class="btn btn-secondary ms-auto">
                              Save
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- View Transaction -->
    <% if (message && message.type==='viewVoucher' ) { %>
      <div class="modal modal-blur fade" id="modal-viewVoucher" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="card-header">
                <dt class="col-5">Voucher No:</dt>
                <dd class="col-7 mt-2">
                  <%= message.voucherNo %>
                </dd>
              </div>
              <div class="card-body">
                <dl class="row">
                  <% if (message.for!='Others' ){%>
                    <dt class="col-5">Vehicle No:</dt>
                    <dd class="col-7">
                      <%= message.vehicleNo %>
                    </dd>
                    <%}%>
                      <dt class="col-5">Date:</dt>
                      <dd class="col-7">
                        <%= message.date %>
                      </dd>
                      <dt class="col-5">For the Month:</dt>
                      <dd class="col-7">
                        <%= message.month %>
                      </dd>
                      <dt class="col-5">Particulars:</dt>
                      <dd class="col-7">
                        <%= message.particulars %>
                      </dd>
                      <dt class="col-5 mt-2">Status:</dt>
                      <dd
                        class="col-7 mt-2 fw-bold <%-(message.status) === 1 && 'text-green'%> <%-(message.status) === 2 && 'text-red' %> <%-(message.status) === 3 && 'text-orange' %>">
                        <% if (message.status===1){%>
                          Paid
                          <%}else if (message.status===2){%>
                            Unpaid
                            <%}else{%>
                              Partial Paid
                              <%}%>
                      </dd>
                      <dt class="col-5 mt-2">Total Rent:</dt>
                      <dd class="col-7 text-danger mt-2">
                        <div class="currency-formated">QAR</div>
                        <%= (message.rent).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                      </dd>
                      <dt class="col-5">Total Bills:</dt>
                      <dd class="col-7 text-danger">
                        <div class="currency-formated">QAR</div>
                        <%= (message.bills).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                      </dd>
                      <dt class="col-5 mt-2">Cash Received:</dt>
                      <dd class="col-7 text-danger mt-2 fw-bold">
                        <div class="currency-formated fw-normal">QAR</div>
                        <%= (message.received).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                      </dd>

                </dl>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
              <a href="/update-voucher/<%= message.id %>" class="btn btn-success">Return Vehicle</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      
      <script>
        $(document).ready(function () {
          $("#searchSA").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#suppAcc tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
          '<% if (message && message.type ==="rentInfo") { %>'
          $("#modal-rentInfo").modal('toggle');
          ' <% } %>'

          '<% if (message &&  message.type ==="viewVoucher") { %>'
          $("#modal-viewVoucher").modal('toggle');

          ' <% } %>'
        });
      </script>

      <script src="../dist/libs/nouislider/dist/nouislider.min.js" defer></script>
      <script src="../dist/libs/litepicker/dist/litepicker.js" defer></script>
      <script src="../dist/libs/tom-select/dist/js/tom-select.base.min.js" defer></script>
      <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
          window.Litepicker && (new Litepicker({
            element: document.getElementById('datepicker-registered'),
            buttonText: {
              previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
              nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
            },
          }))
        })

        $('#datepicker-registered').val(new Date().toISOString().split('T')[0])
      </script>
      
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          window.Litepicker && (new Litepicker({
            element: document.getElementById('datepicker-istimara'),
            buttonText: {
              previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
              nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
            },
          }))
        })
      $('#datepicker-istimara').val(new Date().toISOString().split('T')[0])
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          window.Litepicker && (new Litepicker({
            element: document.getElementById('datepicker-insurance'),
            buttonText: {
              previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
              nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
            },
          }))
        })
      $('#datepicker-insurance').val(new Date().toISOString().split('T')[0])
      </script>

          <%- include('layout/footer') %>